body {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10%;
    background: black;



}

main {
    background-color:white;
}

h1 {
    font-size: 1.6em;
}


.topbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.topbar a {
    color:white;
}

a:hover {
    color: hotpink;
  }

iframe {
    margin-left: 5%;
}

.hamburger {
    position: relative;
    display: none;
    font-weight: bold;
  }

  .hamburger-content {
    display: none;
    position: absolute;
    right:0;
    background-color:black;
  }

  .hamburger:hover .hamburger-content {
    display: block;
  /* animation: popup .5s ease-in-out both; */
  }

  .hamburger span {
    transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
    display: block;
    transform: rotate(90deg);
  }
  
  .hamburger:hover span {
    transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
    display: inline-block;
    transform: rotate(180deg);
  }

.mainHeader {
    margin-bottom: 5em;
    background-image: url("./assets/SantaCaterinaMarket2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 550px;
    align-items: center;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
}

.mainHeader div:first-child {
    align-items: center;
    text-align: center;
}

.mainHeader a {
    color: rgb(251, 135, 2);
    background-color: black;
    text-decoration: none;
    padding: 10px;
    border-color: rgb(251, 135, 2);
    border-width: 1px;
    border-style: solid;
}

.location div:first-child {
    text-align: center;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-right: 1em;
}

header a {
    text-decoration: none;
}

img {
    width:100%;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin: 0 5%;
    padding-bottom: 1em;
}

.grid3 div:first-child {
    grid-column: 1/-1;
    text-align: center;
}

#largeImage {
    grid-column: 1/-1;
}
.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin: 0 10%;
}

/* for screen less than 800px */
@media all and (max-width: 460px){
    .grid2 {
        grid-template-columns: 1fr;
    }
    .grid3 {
        grid-template-columns: repeat(2, 1fr);   
    }

    .topbar h1 {
        font-size: .8em;
    }
    
    .topbar a {
        font-size:12px;
    }

    .mainHeader a {
        padding: 8px;
        font-size:12px;
    }

   
}

@media all and (max-width: 560px){
    header ul {
        display: none;
    }

    .hamburger {
        position: relative;
        display: inline-block;
      }
}

.grid2 img {
    width: 100%;
}

.grid2 h3 {
    text-align:center;
}

.grid2 div:first-child {
    grid-column: 1/-1;
    text-align: center;
}

.footer {
    text-align:center;
    padding: 2em 0;
    background-color: rgb(17, 17, 17);
    color: white;
}

.footer a {
    color: yellow;
}
